db:
  url: https://github.com/bradleygrant/sakila-sqlite3/raw/refs/heads/main/sakila_master.db
  file: data/sakila_master.db

tokenizer:
  repo: "Qwen/Qwen3-4B"
  file: "tokenizer.json"
  eos_token: "<|im_end|>"
  system_template: "<|im_start|>system\n{{ message }}<|im_end|>\n"
  user_template: "<|im_start|>user\n{{ message }}\n<|im_end|>\n"
  assistant_template: "<|im_start|>assistant\n{{ message }}<|im_end|>\n"
  start_completion: "<|im_start|>assistant\n<think>\nNo Think\n</think>\n\n"
  banned_tokens: [<think>, </think>]

llm:
  repo: "unsloth/Qwen3-4B-GGUF"
  file: "Qwen3-4B-Q4_K_M.gguf"
  branch: "main"
  seed: 42 # Seed for logits sampling

inference:
  max_length: 1024
  temperature: 0.7
  top_p: 0.9
  top_k: 50
